*{
    text-transform: uppercase;
}

body{
    margin: 0px;
    width: 100%;
    max-height: fit-content;
}

.corpo_form{
    width: 100%;
    height: auto;
    align-content: center;
}

.form_box{
    border: 1px solid #000;
    background-color: #fff;
    padding: 15pt;
    border-radius: 15pt;
    max-width: 250pt;
    margin: auto;
    justify-content: center;
    display: flex;
    
}

input[type=text], input[type=number]{
    background-color: rgb(0, 0, 0, .0);
    border: none;
    border-bottom: 1px solid #000;
    
}

input[type=number]{
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  
/* cabeçalho */
header{
    padding: 20px;
    padding-bottom: 0px;
    display: block;
    /*background: linear-gradient(160deg, #f0a, 10%, #fc0, 90%, #f0a);*/
    background-color: #ec6;
}

.titulo{
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-size: 35pt;
    color: #fff;
    font-weight: bold;
    display: flex;
    max-width: fit-content;
    margin: auto;
    
}

.simpleBttn{
    padding: 6px;
    margin: auto;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    text-align: center;
    min-width: fit-content;
}

.headerBttn{
    border-top-right-radius: 32px 24px;
    box-shadow: 0px -22px 3px -20px inset rgba(0, 0, 0, .50);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.title_painel{
    /*border-bottom: 2px solid #fff;*/
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 4px -3px 3px 0px rgba(0, 0, 0, .50);
    border-top-right-radius: 32px 24px;
}

.painel_links{
    display: flex;
    background-color: #ec6;
}
.fill_box{
    width: 100%;
}

/* conteudo principal*/
.conteiner{
    padding: 0px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    border-top: 1px solid #000;
}

/* painel de opções de ingredientes*/

#simpletitulo{
    margin: 0px;
    font-family: 'Courier New';
    font-size: 20px;
}

.Prod_painel{
    max-width: 710px;
    margin: 10px;
    font-size: 0px;
    max-height: 490px;
    border-right: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.cheq{
    display: inline-block;
    border-bottom: 5px solid #fff;
    min-width: 10px;
    min-height: 10px;
}

.bloco{
    min-width: fit-content;
    min-height: fit-content;
    padding: 5px;
    border-bottom: 5px double #fff;
    margin: 10px;
    /*box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.4) inset, -3px -3px 8px rgba(170, 170, 170, 0.4) inset;*/
}

.cheq input{ /*10*/
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.bloco > img{ /*10*/
    /*margin: 15%;*/
    width: 50px;
    image-rendering: pixelated;
}

.cheq:hover{
    border-bottom: 5px solid #009;
}

.cheq input:checked ~ .bloco{
    border-bottom: 5px double #090;
}

/* diplay da tabela de alimentos*/

#Resultado{
    margin: 0px; /*auto;*/
    text-align: center;
    background-color: #fff;
    width: 395px;
    margin: 10px;
}

.tabelaAlimentos{
    max-height: 433px;
    overflow: auto;
    scrollbar-width: none;
}

caption{/*10*/
    font-size: 20px;
    margin: 5px 0px 0px 0px;
    padding: 15px 0px 0px 0px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table{
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

caption > div{
    text-decoration: underline;
    display: inline-flex;
    align-self: last baseline;
    width: 100%;
}

caption > div > img{
    width: 100px;
    background-color: rgba(77, 77, 77, 0.2);
    border: 1px solid #fff;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    image-rendering: pixelated;
}

td{/*10*/
    text-align: center;
}
tr{/*10*/
    text-align: center;
}

