*{
    text-transform: uppercase;
    font-size: 16px;
}

body{
    margin: 0px;
    width: 100%;
    max-height: fit-content;
}

.corpo_form{
    width: 100%;
    align-content: center;
}

.form_box{
    display: flex;
    padding: 15pt;
    max-width: 250pt;
    margin: auto;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15pt;
    justify-content: center;
}

input[type=text], input[type=number]{
    background-color: rgb(0, 0, 0, .0);
    border-bottom: 1px solid #000;
}

input[type=number]{
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  
/* cabeçalho */
header{
    padding: 20px;
    padding-bottom: 0px;
    display: block;
    background-color: #ec6;
}

.titulo{
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-size: 35pt;
    color: #fff;
    font-weight: bold;
    display: flex;
    max-width: fit-content;
    margin: auto;
    
}

.headerLabel{
    padding: 6px;
    margin: auto;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    text-align: center;
    min-width: fit-content;
    border-top-right-radius: 32px 24px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sombraFicha{box-shadow: 0px -22px 3px -20px inset rgba(0, 0, 0, .50);}

.sombraTitulo{box-shadow: 4px -3px 3px 0px rgba(0, 0, 0, .50);}

.painel_links{
    display: flex;
    background-color: #ec6;
}

.maxWidth{width: 100%;}

/* conteudo principal*/
.conteiner{
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    border-top: 1px solid #000;
}

/* painel de opções de ingredientes*/

#simpletitulo{
    margin: 0px;
    font-family: 'Courier New';
    font-size: 20px;
}

.Prod_painel{
    max-width: 710px;
    margin: 10px;
    font-size: 0px;
    max-height: 490px;
    border-right: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.cheq{
    display: inline-block;
    border-bottom: 5px solid #fff;
    min-width: 10px;
    min-height: 10px;
}

.bloco{
    min-width: fit-content;
    min-height: fit-content;
    padding: 5px;
    border-bottom: 5px double #fff;
    margin: 10px;
}

.cheq input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.bloco > img{
    width: 50px;
    image-rendering: pixelated;
}

.cheq input:hover ~ .bloco{
    border-bottom: 5px solid #009;
}

.cheq input:checked ~ .bloco{
    border-bottom: 5px double #090;
}

/* diplay da tabela de alimentos*/

#Resultado{
    text-align: center;
    background-color: #fff; /*antiquewhite;*/
    max-width: 395px;
    margin: 10px;
}

.tabelaAlimentos{
    max-height: 433px;
    overflow: auto;
    scrollbar-width: none;
}

caption{
    border: 1px solid #000;
    border-bottom: none;
    margin-top: 5px;
    padding: 15px;
    div{
        text-decoration: underline;
        display: inline-flex;
        width: 100%;
        p{
            margin: auto;
            font-size: 2dvi;
        }

        img{
            min-width: 100px;
            background-color: rgba(77, 77, 77, 0.2);
            border-radius: 10px;
            image-rendering: pixelated;
        }
    }
}

table{
    width: 100%;
    margin: auto;
    border: 1px solid #000;
}

td, tr{
    text-align: center;
}

